@charset "UTF-8";
/* comentario em CSS */
body{
    background-color: #3e40bd;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #ffff14;
    font-size: 25;
    text-align: center;
}
p{
    color: white;
    font-size: 14pt;
    text-align: justify;
}